<nb-card status="primary" class="overflow-auto" style="height: 100%; position: sticky;">
    <nb-card-header>Modificación de usuario: [ {{usuario.user}} ] </nb-card-header>
    <nb-card-body>
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="d-flex justify-content-left">
                    <div class="p-2">
                        <img class="border border-secondary" [src]="imagePath" width="150px" height="150px"
                            *ngIf="usuario.foto && usuario.foto != 'nofoto'" />
                        <div class="border border-secondary" style="width: 150px; height: 150px"
                            *ngIf="!usuario.foto || usuario.foto == 'nofoto'">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <nb-icon icon="person-delete-outline" status="info" style="font-size: 3rem;">
                                        </nb-icon>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span>Sin Foto</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <p-fileUpload #form name="myfile[]" accept="image/*" mode="basic" [auto]="true"
                            chooseLabel="Seleccionar imagen" chooseIcon="pi-search" uploadLabel="Cargar"
                            cancelLabel="Cancelar" [customUpload]="true" (uploadHandler)="myUploader($event, form)"
                            (onBeforeUpload)="onBeforeUpload()" (onUpload)="onUpload()"></p-fileUpload>
                        <hr />
                        <button mat-raised-button color="accent" matRipple (click)="deleteFoto()" size="large">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                            Quitar Imágen
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row ">
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="rol" class="label">Rol</label>
                            <input type="text" nbInput fullWidth id="inputRol" placeholder="Rol"
                                [value]="usuario.rol | undefined" readonly />
                        </div>
                    </div>

                    <div class="col-sm-6  mb-3"
                        *ngIf="!(selectedRol && selectedRol.vendorAssignment && usuario.tienda == 0)">
                        <div class="form-group">
                            <label class="label">Tienda</label>
                            <input type="text" nbInput fullWidth id="inputTienda" placeholder="Tienda"
                                [value]="nombreTienda | undefined" readonly  #tiendaF="ngModel" [(ngModel)]="nombreTienda" />
                        </div>
                    </div>

                    <div class="col-sm-6" *ngIf="selectedRol && selectedRol.vendorAssignment && usuario.tienda == 0">
                        <label class="label">Tienda
                            *</label>

                        <nb-form-field class="full-width">
                            <nb-select placeholder="Selecciona una tienda" [(ngModel)]="selectedTienda" name="tienda"
                                #tiendaF="ngModel" [disabled]="!selectedRol || !selectedRol.vendorAssignment"
                                [required]='selectedRol && selectedRol.vendorAssignment'>
                                <nb-option>Sin Selección</nb-option>
                                <nb-option *ngFor="let tienda of tiendas_combo" [value]="tienda">
                                    {{ tienda.nombreTienda }}
                                </nb-option>
                            </nb-select>
                        </nb-form-field>
                        <ng-container
                            *ngIf="selectedRol && selectedRol.vendorAssignment && tiendaF.hasError('required')">
                            <p class="caption status-danger">
                                La tienda es requerida
                            </p>
                        </ng-container>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputusername" class="label">Usuario</label>
                            <input type="text" nbInput fullWidth id="inputusername" placeholder="Usuario"
                                [value]="usuario.user | undefined" readonly />


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-info font-weight-bold">Los campos marcados con * son requeridos</span>
        <hr />
        <div class="p-2">
            <form>
                <fieldset>
                    <legend>Datos personales:</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputFirstName" class="label">Nombre *</label>
                                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Nombre"
                                    [value]="usuario.firstName | undefined" [(ngModel)]="usuario.firstName"
                                    name="firstName" #nombre="ngModel" required [pattern]="namePattern" />

                                <ng-container *ngIf="nombre.invalid">
                                    <p class="caption status-danger" *ngIf="nombre.errors?.required">
                                        Nombre es requerido!
                                    </p>
                                    <p class="caption status-danger" *ngIf="nombre.errors?.pattern">
                                        No tiene un formato válido
                                    </p>
                                </ng-container>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Apellido Paterno</label>
                                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Apellido Paterno"
                                    [value]="usuario.lastName | undefined" [(ngModel)]="usuario.lastName"
                                    name="lastName" [pattern]="namePattern" #lastName="ngModel" />
                                <ng-container *ngIf="lastName.invalid">

                                    <p class="caption status-danger" *ngIf="lastName.errors?.pattern">
                                        No tiene un formato válido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputSecondLastName" class="label">Apellido Materno</label>
                                <input type="text" nbInput fullWidth id="inputSecondLastName"
                                    placeholder="Apellido Materno" [value]="usuario.secondLastName | undefined"
                                    [(ngModel)]="usuario.secondLastName" name="secondLastName" [pattern]="namePattern"
                                    #slastName="ngModel" />
                                <ng-container *ngIf="slastName.invalid">

                                    <p class="caption status-danger" *ngIf="slastName.errors?.pattern">
                                        No tiene un formato válido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputCorreo" class="label">Correo *</label>
                                <input type="email" nbInput fullWidth id="inputCorreo" placeholder="Correo"
                                    [value]="usuario.email | undefined" [(ngModel)]="usuario.email" name="email"
                                    #email="ngModel" required [pattern]="emailPattern" />
                                <ng-container *ngIf="email.invalid">
                                    <p class="caption status-danger" *ngIf="email.errors?.required">
                                        Correo es requerido
                                    </p>
                                    <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                        No tiene un formato válido de correo
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputTelefono" class="label">Teléfono</label>
                                <input type="email" nbInput fullWidth id="inputTelefono" placeholder="Teléfono"
                                    [value]="usuario.phoneNumber | undefined" [(ngModel)]="usuario.phoneNumber"
                                    name="phoneNumber" #phoneNumber="ngModel" [pattern]="phoneNumberPattern" />
                                <ng-container *ngIf="phoneNumber.invalid">
                                    <p class="caption status-danger" *ngIf="phoneNumber.errors?.pattern">
                                        Teléfono no válido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Dirección:</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputCalle" class="label">Calle *</label>
                                <input type="text" nbInput fullWidth id="inputCalle" placeholder="Calle"
                                    [value]="usuario.fullAddress.street | undefined"
                                    [(ngModel)]="usuario.fullAddress.street" name="street" #street="ngModel" required />
                                <ng-container *ngIf="street.invalid">
                                    <p class="caption status-danger" *ngIf="street.errors?.required">
                                        Calle es requerido
                                    </p>
                                </ng-container>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputExternal" class="label">N° Exterior *</label>
                                <input type="text" nbInput fullWidth id="inputExternal" placeholder="N° Exterior"
                                    [value]="usuario.fullAddress.external | undefined"
                                    [(ngModel)]="usuario.fullAddress.external" name="external" #external="ngModel"
                                    required />
                                <ng-container *ngIf="external.invalid">
                                    <p class="caption status-danger" *ngIf="external.errors?.required">
                                        N° Exterior es requerido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputInternal" class="label">N° Interior</label>
                                <input type="text" nbInput fullWidth id="inputInternal" placeholder="N° Interior"
                                    [value]="usuario.fullAddress.internal | undefined"
                                    [(ngModel)]="usuario.fullAddress.internal" name="internal" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputZip" class="label">Código Postal</label>
                                <input type="text" nbInput fullWidth id="inputZip" placeholder="Código Postal"
                                    [value]="usuario.fullAddress.zipCode | undefined"
                                    [(ngModel)]="usuario.fullAddress.zipCode" name="zipCode" #zipCode="ngModel"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputCommune" class="label">Comuna / Ciudad *</label>
                                <input type="text" nbInput fullWidth id="inputCommune" placeholder="Comuna / Ciudad"
                                    [value]="usuario.fullAddress.commune | undefined"
                                    [(ngModel)]="usuario.fullAddress.commune" name="commune" #commune="ngModel"
                                    required />
                                <ng-container *ngIf="commune.invalid">
                                    <p class="caption status-danger" *ngIf="commune.errors?.required">
                                        Comuna / Ciudad es requerido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputProvince" class="label">Provincia / Estado *</label>
                                <input type="text" nbInput fullWidth id="inputProvince" placeholder="Provincia / Estado"
                                    [value]="usuario.fullAddress.province | undefined"
                                    [(ngModel)]="usuario.fullAddress.province" name="province" #province="ngModel"
                                    required />
                                <ng-container *ngIf="province.invalid">
                                    <p class="caption status-danger" *ngIf="province.errors?.required">
                                        Provincia / Estado es requerido
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputCountry" class="label">País *</label>
                                <input type="text" nbInput fullWidth id="inputCountry" placeholder="País"
                                    [value]="usuario.fullAddress.country | undefined"
                                    [(ngModel)]="usuario.fullAddress.country" name="country" #country="ngModel"
                                    required />
                                <ng-container *ngIf="country.invalid">
                                    <p class="caption status-danger" *ngIf="country.errors?.required">
                                        País es requerido
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </fieldset>

            </form>
        </div>
        <div class="d-flex justify-content-end">
            <div class="p-2">
                <button mat-raised-button color="accent" matRipple (click)="accept()" [disabled]="nombre.errors?.required || 
                    email.errors?.required ||
                    street.errors?.required ||
                    external.errors?.required ||
                    commune.errors?.required ||
                    zipCode.errors?.required ||
                    province.errors?.required ||
                    country.errors?.required ||
                    email.errors?.pattern ||
                    phoneNumber.errors?.pattern ||
                    zipCode.errors?.pattern ||
                    nombre.errors?.pattern ||
                    lastName.errors?.pattern ||
                    slastName.errors?.pattern ||
                    !validateTienda() ">
                    <nb-icon icon="checkmark-square-2-outline"></nb-icon>
                    Aceptar
                </button>
            </div>
            <div class="p-2">
                <button mat-raised-button color="primary" matRipple (click)="cancel()">
                    <nb-icon icon="close-square-outline"></nb-icon>
                    Cancelar
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>