<div class="derecha">
<div>
    <span class="contacto">
        CONTÁCTENOS
    </span>
    <span class="contacto">
        <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
        hablemos@rocketcourier.cl / contacto@rocketcourier.cl
    </span>
    <span class="contacto">
        <fa-icon [icon]="faPhone" size="lg"></fa-icon>
        +562 2696 2736
    </span>
    <span  class="contacto">
        <fa-icon [icon]="faWhatsapp" style="color:#03fa66" size="lg" ></fa-icon>
        +569 4617 1716
    </span>
</div>
</div>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    
</div>