<nb-card  status="primary">
    <nb-card-header>{{headerMessage}}</nb-card-header>
    <nb-card-body>
      <div class="d-flex align-content-start flex-wrap" >
        <div class="p-2">
            {{bodyMessage}}
            </div>
            </div>
      <div class="d-flex justify-content-end">
        <div class="p-2">
          <button mat-raised-button color="accent" matRipple (click)="accept()">
            <nb-icon icon="checkmark-square-2-outline"></nb-icon>
            {{acceptanceLabel}}
          </button>
        </div>
        <div class="p-2">
          <button mat-raised-button color="primary" matRipple (click)="cancel()">
            <nb-icon icon="close-square-outline"></nb-icon>
            {{cancelLabel}}
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>