@import '../../../themes';

@include nb-install-component {}

.load-button {
  background-color: #98C14D !important;
  border-color: #98C14D !important;
  color: #fff !important;
}

.date-label {
  display: block;
  margin-bottom: 0.25rem;
}